<h1>List of Cocktails</h1>
  <div class="flex">
    <div class="cards" style="height: 200px">
      <% @cocktails.each do |cocktail| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.key %>')">
          <%= link_to cocktail.name, cocktail_path(cocktail), class: 'card-link' %>
        </div>
      <% end %>
    </div>
  </div>
